@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Police İşlemleri </h1>
    <p>Müsteri Sayfasından <a href="/AppUser/Index">Müsteri Police kesim.</a></p>
</div>
